node-red-examples/websocket/complete.json
[{"id":"45624855.86bee8","type":"tab","label":"Web Socket"},{"id":"3dd645e8.d48cea","type":"inject","z":"45624855.86bee8","name":"Tick every 5 secs","topic":"test","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":205,"y":261,"wires":[["c6d4a069.a0125"]]},{"id":"7bb2b9cd.d79498","type":"websocket out","z":"45624855.86bee8","name":"","server":"e8eed4b8.d8cdb8","client":"","x":605,"y":261,"wires":[]},{"id":"ace3a754.5cca88","type":"http response","z":"45624855.86bee8","name":"","x":576,"y":201,"wires":[]},{"id":"698e75b1.a4f19c","type":"http in","z":"45624855.86bee8","name":"","url":"/simple","method":"get","swaggerDoc":"","x":207,"y":201,"wires":[["b2fde22e.7c895"]]},{"id":"b2fde22e.7c895","type":"template","z":"45624855.86bee8","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>Simple Live Display</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simple\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simple\",\"ws/simple\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>Simple Live Display</h1>\n        <div id=\"messages\"></div>\n        <button type=\"button\" onclick='doit(\"click\");'>Click to send message</button>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n","x":404,"y":201,"wires":[["ace3a754.5cca88"]]},{"id":"c6d4a069.a0125","type":"function","z":"45624855.86bee8","name":"format time nicely","func":"msg.payload = Date(msg.payload).toString();\nreturn msg;","outputs":1,"noerr":0,"x":393,"y":261,"wires":[["7bb2b9cd.d79498"]]},{"id":"13803bf7.f931b4","type":"websocket in","z":"45624855.86bee8","name":"","server":"e8eed4b8.d8cdb8","client":"","x":392,"y":313,"wires":[["5f089788.13ed98"]]},{"id":"5f089788.13ed98","type":"debug","z":"45624855.86bee8","name":"","active":true,"console":"false","complete":"false","x":582,"y":313,"wires":[]},{"id":"e8eed4b8.d8cdb8","type":"websocket-listener","z":"45624855.86bee8","path":"/ws/simple","wholemsg":"false"}]