node-red-examples/webserver/complete.json
[
{
"id": "c61f6fb4.6184a",
"type": "http response",
"z": "b9584458.e73ad8",
"name": "",
"x": 480.6999816894531,
"y": 192.8000030517578,
"wires": []
},
{
"id": "56318ffe.7de34",
"type": "http in",
"z": "b9584458.e73ad8",
"name": "",
"url": "/",
"method": "get",
"swaggerDoc": "",
"x": 134.70001220703125,
"y": 193.03335571289062,
"wires": [
[
"7e457cc8.2900f4"
]
]
},
{
"id": "7e457cc8.2900f4",
"type": "template",
"z": "b9584458.e73ad8",
"name": "Webpage Contents",
"field": "payload",
"fieldType": "msg",
"format": "handlebars",
"syntax": "mustache",
"template": "<html>\n  <head>\n    <title>Hello!</title>\n  </head>\n  <body>\n    <h1>Hello <span id=\"name\">{{payload.name}}</span>!</h1>\n    <p>This is my first webpage!</p>\n    <p><i>Test Page</i></p>\n    {{^payload.name}}\n    <script>\n      // Prompt visitor for their name.\n      var name = prompt('What is your name?');\n\n      // Populate HTML tag with ID name with visitor name.\n      document.getElementById('name').innerHTML = name;\n    </script>\n    {{/payload.name}}\n  </body>\n</html>\n",
"x": 304.70001220703125,
"y": 192.56668090820312,
"wires": [
[
"c61f6fb4.6184a"
]
]
}
]